[submodule "thirdParty/opencv"]
	path = thirdParty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "thirdParty/vcpkg"]
	path = thirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
